:root {
  --front-color: #00B884;
  --front-color-op: rgba(0,184,132,0.8);
  --secondary-color: #2b2b2b;
  --background-color: #F4F7F8;
  --div-color:#FFFFFF;
  --div-color-op: rgba(255,255,255,0.9);
  --vs-primary: 51,178,122;
  --header-border-bottom:inset 0 -1px 0 0 rgba(0,0,0,0.1);
  --header-background: hsla(0,0%,100%,0.8);
}
